*,
*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;   

}
body{
    overflow: hidden;
}
html{
    font-size: 10px;
   
}

h1{
    margin: 30px;
    text-align: center;
}
.accordionls{
    width: 400px;
    
    
 
}
.Container{
   margin: 0;
   padding: 0;
    width: 100vw;
    height: 80vh;
    
}

.moaccordion{

    display: flex;
flex-direction: row;
justify-content: space-evenly;
margin: 10px;
padding: 0;


}

.master{
    position: relative;
}
.master .cancel{
    font-size: 20px;
    color: #eee;
    position: fixed;
    
        
 
    
}
.accordionrs{

    background-color: #283042;
border-radius: 10px;
margin-bottom: 10px;
padding: 30px;
/* -webkit-box-shadow:0 3px 10px -2px rgba(0,0,0,2) ;
box-shadow: 0 3 10 -2 rgba(0,0,0,2); */
box-shadow: 0.5rem 2px 0.5rem rgba(0,0,0,1) ;

}

.accordion-link{
  
    height: 0px;
    font-size: 1.6rem;
    color: rgba(255,255,255,.8);
    text-decoration: none;
    background-color: #283042;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding-bottom:  3rem;

}
.accordion-link i{
    color: #e7d5ff;

}
.accordion-link .fa-solid.fa-minus
{display: none;}
.image{
    width: 600px;
    height: 400px;
    background-image:linear-gradient(to bottom, rgba(0,0,0,.8),rgba(0,0,0,.5)), url('best-nature-image.jpg') ;
    background-size: cover;
}

.answer{
    max-height:0 ;
    overflow: hidden;
    position: relative;
    background-color: #212838;
   transition: all 650ms;
}

.answer p{
    color: rgba(255,255,255,6);
    font-size:  1.4rem; 
    padding: 2rem;
}
:target .answer{
    max-height: 20rem;
    
}

.accordionrs:target .fa-solid.fa-plus{
    display: none;
   
}


.fa-solid.fa-minus.cancel{
    display: block;
}
.fa-solid.fa-minus.icancel{
    width: 30%;
    position: absolute;
    left: 330px;
    top: 20px;
 
    
}
.master:target .answer {
    height: 0rem;
}
