*,
*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;   

}
html{
    font-size: 10px;
   
}

h1{
    margin: 30px;
    text-align: center;
}
.accordionls{
    width: 400px;
    
 
}
.Container{
   margin: 0;
   padding: 0;
    width: 100vw;
    height: 80vh;
}

.moaccordion{

    display: flex;
flex-direction: row;
justify-content: space-evenly;
margin: 10px;
padding: 0;

}


.accordionrs{

    background-color: #283042;
border-radius: 10px;
margin-bottom: 10px;
padding: 30px;
/* -webkit-box-shadow:0 3px 10px -2px rgba(0,0,0,2) ;
box-shadow: 0 3 10 -2 rgba(0,0,0,2); */
box-shadow: 0.5rem 2px 0.5rem rgba(0,0,0,1) ;
}

.accordion-link{
  
    height: 0px;
    font-size: 1.6rem;
    color: rgba(255,255,255,.8);
    text-decoration: none;
    background-color: #283042;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding-bottom:  3rem;

}
.accordion-link i{
    color: #e7d5ff;

}
.accordion-link .fa-solid.fa-minus
{display: none;}
.image{
    width: 600px;
    height: 400px;
    background-image: url('best-nature-image.jpg');
}

.answer{
    max-height:0 ;
    overflow: hidden;
    position: relative;
    background-color: #212838;
   transition: all 650ms;
}


.answer::before{
 
    position: absolute;
    background-color: #8fc460;
    top :50%;
    left: 0;
    transform: translateY(-50%);
        
}

.answer p{
    color: rgba(255,255,255,6);
    font-size:  1.4rem; 
    padding: 2rem;
}
.accordionrs:target .answer{
    max-height: 10rem;
}

.accordionrs:target .accordion-link .fa-solid.fa-plus{
    display: none;
}

.accordionrs:target .accordion-link .fa-solid.fa-minus{
    display: block;
}